 <div class="Body">
    <div class="top-wrapper">
        <div class="container">
        <h1>『美味しい！』に『ありがとう！』を。</h1>
        </div>
    </div>

 </div>
 <div class="row">
   <div class="col-lg-4">
       <h2>生産者へありがとう！</h2>
            <ul style= "list-style:none;">
                <% @agriusers.each do |agriuser| %>
                <li class="list"><%= link_to agriuser.name + "さんへ", agriuser%><button class="btn"><%= link_to "ありがとう！！", be_liked_agriuser_path(agriuser) %></button><%= agriuser.likescounter%><%="人がありがとうを言っています。"%></li>
                <%end%>
            </ul>  
    </div>
    
    <div class="col-lg-4">
        <h2>ありがとう！ランキング</h2>
          <table class="type07">
              <thead>
                <tr>
                  <th>名前</th>
                  <th>ありがとう</th>
                </tr>
              </thead>

              <tbody>
                <% @agriusers1.each do |agriuser| %>
                  <tr>
                    <td><%= link_to agriuser.name , agriuser %></td>
                    <td><%= agriuser.likescounter %></td>
                  </tr>
                <% end %>
              </tbody>
        </table>
    </div>
 </div>

 

<!--   <div class="row">
        <div class="col-lg-4">
          <h2>ありがとう！ランキング</h2>
          <p class="text-danger">As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">スズメ &raquo;</a></p>
        <%= link_to "やさいいね！！", about_path %>
        </div>
        
        
        <div class="col-lg-4">
          <h2>いいね！ランキング</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">めだか &raquo;</a></p>
       </div>
        
        <div class="col-lg-4">
          <h2>おすすめ農家ランキング</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
          <p><a class="btn btn-primary" href="#" role="button">からす &raquo;</a></p>
        </div>
    </div>
 </div> -->