<%= form_for @agriuser, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "名前", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "メール", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "生産品1", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :vegitable1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "生産品2", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :vegitable2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "生産品3", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :vegitable3, :class => 'text_field' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :comment, "生産者からの一言" %><br>
    <%= f.text_area :comment, size: "30x5" %>
  </div>

  
  <%= f.submit "更新", :class => 'btn btn-primary' %>
  <%= link_to "取消",
            agriusers_path, :class => 'btn btn-default' %>
 
<% end %>
