<p id="notice"><%= notice %></p>

<h1>Listing Agriusers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agriusers.each do |agriuser| %>
      <tr>
        <td><%= agriuser.name %></td>
        <td><%= agriuser.email %></td>
        <td><%= link_to 'Show', agriuser %></td>
        <td><%= link_to 'Edit', edit_agriuser_path(agriuser) %></td>
        <td><%= link_to 'Destroy', agriuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agriuser', new_agriuser_path %>
