<p id="notice"><%= notice %></p>

<h1>利用者のページ</h1>

<p>
  <strong>Name:</strong>
  <%= @agriuser.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @agriuser.email %>
</p>

<p>
  <strong>ありがとう数:</strong>
  <%= @agriuser.likescounter %>人の購入者からありがとうが集まっています！
</p>

<%= link_to '編集', edit_agriuser_path(@agriuser) %> |
<%= link_to '一覧', agriusers_path %>
